* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: "Roboto", sans-serif;
  background-color: #dbebfd;
  color: #15335e;
}

/* Header */

.header-navigation {
  background-color: #fafafa;
  padding: 10px;
  display: flex;
  justify-content: space-between; 
  align-items: center;
  background: white;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.logo img {
  height: 60px;
  margin-right: 20px;
  margin-left: 30px;
}

.nav-items {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.nav-item {
  color: #133e87;
  font-weight: bold;
  font-size: 16px;
  cursor: pointer;
  text-decoration: none;
  transition: color 0.3s;
}

.nav-item:hover {
  color: #0d47a1;
}

main {
  padding: 50px;
}
.cctv-section h1 {
  font-family: "Jost", sans-serif;
  font-size: 2.5rem;
  color: #164189;
  text-align: center;
}
.breadcrumb {
  text-align: center;
  margin-bottom: 20px;
  font-size: 0.9rem;
  color: #15335e;
}

.cctv-container {
  max-width: 1000px;
  margin: 0 auto;
  background-color: #fff;
  padding: 20px;
  border-radius: 14px;
  box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.1);
}

.search-box {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 20px;
}
.search-box input {
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 14px 0 0 14px;
}
.search-box button {
  padding: 10px;
  border: none;
  background-color: #134087;
  color: #fff;
  border-radius: 0 14px 14px 0;
  cursor: pointer;
}

.cctv-view {
  text-align: center;
}
.cctv-image img {
  width: 100%;
  height: auto;
  border-radius: 14px;
}
.location {
  margin: 15px 0;
}
.location h3 {
  font-family: "Poppins", sans-serif;
  font-size: 1.2rem;
  color: #164189;
}
.time {
  display: block;
  font-size: 0.9rem;
  color: #333;
}

.progress-bar {
  width: 100%;
  height: 5px;
  background-color: #ccc;
  border-radius: 3px;
  margin-top: 10px;
  overflow: hidden;
}
.progress-bar .progress {
  width: 20%;
  height: 100%;
  background-color: #134087;
}

.footer {
  background: #133e87;
  color: white;
  text-align: center;
  padding: 20px;
  font-size: 14px;
}
